name: prerelease NuGet
on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    # also works with windows-latest and macos-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v1
    - name: Build with dotnet
      run: dotnet build --configuration Release --version-suffix prerelease-$(date +%Y%m%d%H%M%S)
      shell: bash
    - name: Publish nuget
      run: |
           for f in .src/BonVoyage/bin/Release/*.nupkg
           do
             curl -vX PUT -u "nor0x:${{ secrets.GHPackagesToken }}" -F package=@$f https://nuget.pkg.github.com/nor0x/
           done
      shell: bash
